extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a Nodejs Bootstrap application based on ExpressJS Framework. It helps you build an MVC Architectured app. Currently, by default it supports:
    ul
      li ExpressJS
      li MongoDB
      li MySQL
      li Redis
